@page
@model Comp_Sci_IA_Main_Proj_.Pages.Accounts.LoginModel
@{
}

<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <label class="text-danger">@ViewData["Error"]</label>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Details.Username"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="Details.Username" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="Details.Username"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Details.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="Details.Password" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="Details.Password"></span>
        </div>
        <div class="row form-check mb-2">
            <div class="col-2">
                <input type="checkbox" asp-for="Details.RememberMe" class="btn btn-primary" />
                <label class="form-check-label" asp-for="Details.RememberMe"></label>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
            <div class="col-5">

            </div>
        </div>
    </form>
</div>