@page
@model MainProject.Pages.Accounts.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="container border" style="padding:20px">
    <form method="post">
        <legend>Change Your Password</legend>
        <label class="text-danger">@ViewData["Error"]</label>

        <div class="form-group">
            <label asp-for="newPass.oldPassword" class="form-label mt-4"></label>
            <input type="password" asp-for="newPass.oldPassword" class="form-control" placeholder="Enter Old Password" />
            <span class="text-danger" asp-validation-for="newPass.oldPassword"></span>
        </div>

        <div class="form-group">
            <label asp-for="newPass.newPassword" class="form-label mt-4"></label>
            <input type="password" asp-for="newPass.newPassword" class="form-control" placeholder="Enter New Password" />
            <span class="text-danger" asp-validation-for="newPass.newPassword"></span>
        </div>

        <div class="form-group">
            <label asp-for="newPass.ConfirmPassword" class="form-label mt-4"></label>
            <input type="password" asp-for="newPass.ConfirmPassword" class="form-control" placeholder="Confirm Your Password" />
            <span class="text-danger" asp-validation-for="newPass.ConfirmPassword"></span>
        </div>

        <br />

        <div class="form-group">
            <div class="col-3">
                <input type="submit" class="btn btn-danger" value="Confirm Changes" />
            </div>
        </div>
    </form>
</div>